.launches-details-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__info{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    > ul {
      list-style-type: none;
      > li {
        margin: 10px;
      }
    }
    &--logo{
      display: flex;
    }
    > h4 {
      margin: 10px 0;
      text-align: center;
      max-width: 500px;
    }
  }
  &__header{
    margin: 20px 0;
    font-weight: bold;
  }
}
